* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

body {
    background-color: rgb(252, 239, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vw;
    width: 100vw;
    background-color: rgb(255, 252, 240);
}

nav h1 {
    margin: 0vw 3vw 0vw 3vw;
    color: rgb(35,35,35);
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 17vw;
    color: rgb(35,35,35);
    margin-right: 3vw;
}

ul a {
    color:rgb(35,35,35);
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: column;
    border: 0.5vw solid rgb(255, 252, 240);
    height: 30vw;
    width: 70vw;
    margin: 3vw;
    padding: 1.7vw;
    background-color: rgba(221, 204, 148, 0.5)
}

header h2 {
    margin-bottom: 1.7vw;
}

/* Blogpost List */

main {
    display: flex;
    flex-direction: column;
    margin: 3vw;
    width: 70vw;
    background-color: rgba(221, 204, 148, 0.5);
    border: 0.5vw solid rgb(255, 252, 240);
}

main a {
    text-decoration: none;
    color:rgb(35, 35, 35);
    border: 2px solid black;
    margin: 3vw 3vw;
    padding: 1vw 1.7vw;
    background-color: rgba(255,255,255,0.7);
}



main div h2 {
    margin-bottom: 1vw;
}

main div p {
    margin-bottom: 1vw;
}

/* Blogposts */

.blogpost {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(1,1,1);
    background-color: rgba(255,255,255,0.7);
    width: 70vw;
    margin: 3vw;
    padding: 1.7vw;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    margin-bottom: 2vw;
}

.title-bar a {
    text-decoration: none;
    color: rgb(35, 35, 35);
}

.title-bar div {
    display: flex;
    column-gap: 0.5vw;
    align-items: center;
}



.title-bar div span {
    font-size: 1.5em;
}

.title-bar div p {
    margin-top: 0.5vw;
}


.blogpost p {
    white-space: pre-line;
    margin-bottom: 1vw;
    line-height: 1.5em;
}
